 <div class="col-md-12" style="margin-bottom: 5px; ">
        <div class="card text-center border border-primary">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Lista de equipos 
            </h3>
        </div>
    </div>
{{#if user}}
<link rel="stylesheet" href="/css/cards.css">
{{#each teams}}
<div class="card-body">
    <p>{{name}}</p>
    <p>{{photo}}</p>
    <p>{{series}}</p>
    <p>{{initialst}}</p>
    <p>{{description}}</p>
    <p>{{mail}}</p>
    <p>{{creation_date}}</p>
    <p>{{main_color}}</p>
    <p>{{secondary_color}}</p>
    <p>{{phone}}</p>
        <center>
        <a href="/teams/delete-teams/{{id}}" class="danger">Eliminar</a>
        <a href="/teams/edit-team/{{id}}" class="secondary">Editar</a>
    </center>
</div>    
    {{else}}
    <center <p>No hay registro guardados a un </p>
        <a href="/teams"> Agrega uno haciendo click aqui</a>
    </center>
    {{/each}}
      {{else}}
    <h1>logueate papu XD</h1>
    {{/if}}